<form action='/lists/<%= params[:id] %>/edit' method='post'>
  <dl>
    <dt>
      <label for='list_name'>Enter the new name for your new list:</label>
    </dt>
    <dd>
      <input name='list_name' placeholder='List Name' type='text' value=<%= session[:lists][params[:id].to_i][:name] %>>
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Save'>
    <a href='/'>Cancel</a>
  </fieldset>
</form>